header {
    background-color: #ee844b;
    padding: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main {
    background-color: #a10000;
    padding: 20px;
    color: #ffffff;
  }
  
.pokemon-info {
    display: flex;
    justify-content: center
  }
  
  .title {
    background-color: #ec5300;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
  }
  
  img {
    max-width: 100%;
  }
  
  .pokemon-data {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    justify-content: center;
  }

.table-container {
  display: flex;
  padding: 10px;
  background-color: #ec5300;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 30%;
}

  footer {
    background-color: #d16f6f;
    color: #ffffff;
    text-align: center;
    padding: 20px;
  }
  
  .footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  }

  .footer_container:hover {
    transform: scale(1.2);
    filter: brightness(80%);
    cursor: pointer;
  }